.RoutesTable{
    width: 100%;
}

.RoutesTable__table{
    padding: 50px;
}

.RoutesTable__button button{
    width: 120px;
    font-weight: bold;
    font-family: Arial;
}

.RoutesTable__title{
    margin: 20px 50px 0px 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RoutesTable__table-tableHeader{
    font-weight: 700;
}

.RoutesTable__logWindow{
    /* margin-top: 350px; */
    padding: 0px 50px 0px 50px;
    /* padding-left: 7px; */
}