.RoutesTable{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2px;
    position: relative;
}

.RoutesTable__table-container{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 335px;
    
}::-webkit-scrollbar{
    display: none;
}


.RoutesTable__table{
    padding: 10px 0px 0px 0px;
}

.RoutesTable__table-tableCellHead{
    font-weight: bold;
    /* font-size: 17px; */
    font-size: 0.85vw;
    max-width: 120px;
    /* text-align: center; */
    /* border: 1px solid #d5d5d5; */
}

.RoutesTable__table-tableCell{
    font-style: 17px;
}

.RoutesTable__button{
    display: flex;
    gap: 20px;
    align-items: center;
}

.RoutesTable__dependencies{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* border: 1px solid #d85728; */
    border-radius: 6px;
}

.RoutesTable__dependencies button{
    border-radius: 4px 0px 0px 4px;
}

.RoutesTable__button button{
    min-width: 120px;
    font-weight: bold;
    font-family: Arial;
}

.RoutesTable__title{
    /* margin: 10px 50px 0px 10px; */
    padding: 0px 0px 0px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #d5d5d5;
}

.RoutesTable__title h3{
    font-size: 45px;
}

.RoutesTable__securityLever{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 50px;
    align-items: center;
    background-color: #d4d4d4a2;
    border-bottom: 1px dashed #d5d5d5;
    border-right: 1px dashed #d5d5d5;
    border-left: 1px dashed #d5d5d5;
}

.RoutesTable__securityLever h5{
    font-size: 18px;
}

.RoutesTable__table-tableHeader{
    font-weight: 700;
}

.RoutesTable__actionBlock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.RoutesTable__logWindow{
    position: absolute;
    padding: 0px 0px 10px 10px;
    width: 100%;
    overflow: hidden;
    bottom: 0px;
    border-collapse: collapse;
}

.RoutesTable__logWindow-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}

.RoutesTable__logWindow-title{
    /* padding: 5px 2px; */
    font-size: 26px;
    font-weight: bold;
}

/* 
@media screen and (max-width: 1439px) {
    .RoutesTable__title h3 {
      font-size: 28px;
    }

    .RoutesTable__dependencies, button{
        height: 22px;
    }

    .RoutesTable__dependencies-icon{
        transform: scale(0.7);
    }

    .RoutesTable__button button{
        min-width: 100px;
        font-size: small;
        height: 22px;
    }

    .RoutesTable__securityLever h5{
        font-size: 17px;
    }

    .RoutesTable__table-tableCell{
        background-color: red;
    }
  } */