html {
    background-color: #979797;
}
body {
    background: linear-gradient(to bottom, #979797 20%,#595959 100%) no-repeat;
    margin-top: 5px;
}

#adirim .cac-cams {
    width: 95%;
}

#adirim .cac-camera {
    margin: 2px 0 !important;
}

.cam-tour-select {
    margin: 0 62px 5px 62px;
    height: 24px;
    border-radius: 0;
    padding: 0 10px;
}