/* OCTOPUS 3.0 - Login CSS */

html {
    height: 100%;
}

body {
    height: 100%;
    background: url('../Images/Login/login_bg_sm.jpg') bottom center no-repeat;
    background-size: contain;
    overflow: hidden;
}

#logo {
    margin-top: 3%;
    width: 200px;
    text-align: center;
}
#logo img {
    position: relative;
    width: 70%;
}

#login {
    margin-top: 3%;
    padding: 0 30px;
    width: 341px;
    height: 373px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 23px rgba(0, 0, 0, 0.3), 0 0 150px rgba(255, 255, 255, 1);
}

#login h1 {
    width: 50%;
}

#login .input-group {
    margin-top: 20px;
}

#login .orange .input-group-addon {
    background-color: #d85728;
}

#login .orange i, #login .has-error i {
    color: #fff;
}

#login .has-error .input-group-addon {
    background-color: #d82828;
}

#login .has-error .form-control-feedback {
    right: 0;
}

#login #loginButton {
    margin-top: 20px;
}

#login #loginButton i {
    margin-right: 10px;
}

.tooltip-red + .tooltip > .tooltip-inner {background-color: #d82828;}
.tooltip-red + .tooltip > .tooltip-arrow { border-right-color:#d82828; }

.tooltip.left {
    margin-left: -40px;
}

.popover-title {
    background-color: #d82828;
    color: #fff;
}

.field-icon {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -25px;
    z-index: 2;
}

.popover-ie {
    width: 18%;
    margin: 10px auto 0 auto;    
    background-color: #d82828;
    color: #fff;    
    padding: 8px 14px;
    font-size: 14px;    
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 5px 5px;
}

@media only screen and (min-width: 1600px) {
	#logo img {
		width: 100%;
	}	
}

@media only screen and (min-width: 1100px) {
	body {
		background: url('../Images/Login/login_bg.jpg') bottom center no-repeat;
        background-size: contain;
	}	
}

footer {
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    background-color: rgba(100, 100, 100, 0.8);
    padding: 7px;
    z-index: -2;
}

#siteseal {
    position: absolute;
    top: 10px;
    right: 10px;
}

footer img {
    margin: 0 5px;
}

footer img.seal {
    margin: 10px 10px;
}

footer img.iso {
    width: 60px;
    height: 60px;
}


#caps-look-is-on {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}