/* OCTOPUS V3 - Blue */

body {
    --main-color: #115F8D;
}

/* System - Bootstrap */
a {
  color: #115F8D;
}

a:hover,
a:focus {
  color: #115F8D;
}

.text-primary {
  color: #115F8D;
}

.bg-primary {
  background-color: #115F8D;
}

.btn-primary {
  background-color: #115F8D;
  border-color: #115F8D;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active,
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus
 {
  background-color: #115F8D;
  border-color: #115F8D;
}

.btn-primary .badge {
  color: #115F8D;
}

.btn-link {
  color: #115F8D;
}

.btn-link:hover,
.btn-link:focus {
  color: #115F8D;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #115F8D;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #115F8D;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: #115F8D;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #115F8D;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #115F8D;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #115F8D;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #115F8D;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #115F8D;
}

@media (max-width: 767px) {
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #115F8D;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #115F8D;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #125d88;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #125d88;
  }
}

.navbar-default .navbar-link:hover {
  color: #115F8D;
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #115F8D;
}

.breadcrumb {
  background-color: #115F8D;
  border-color:#1f6f9e!important;

}

.breadcrumb > .active {
  
}

.pagination > li > a,
.pagination > li > span {
  color: #115F8D;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #115F8D;
}

.label-info {
  background-color: #115F8D;
}

.badge {
  background-color: #115F8D;
}

.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #115F8D;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #115F8D;
}

.progress-bar {
  background-color: #115F8D;
}

.progress-bar-info {
  background-color: #115F8D;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #115F8D;
  border-color: #115F8D;
}

.panel-primary {
  border-color: #115F8D;
}
.panel-primary > .panel-heading {
  background-color: #115F8D;
  border-color: #115F8D;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #115F8D;
}
.panel-primary > .panel-heading .badge {
  color: #115F8D;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #115F8D;
}

.navbar-inverse {
  background-image: -webkit-linear-gradient(#127cb9, #115F8D 50%, #004c7c);
  background-image: -o-linear-gradient(#127cb9, #115F8D 50%, #004c7c);
  background-image: linear-gradient(#127cb9, #115F8D 50%, #004c7c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff127cb9', endColorstr='#ff004c7c', GradientType=0);
  border: 1px solid #125d88;
}
.navbar-inverse .badge {
  color: #115F8D;
}

.btn-primary {

  /*background-image: -webkit-linear-gradient(#127cb9, #115F8D 50%, #004c7c);
  background-image: -o-linear-gradient(#127cb9, #115F8D 50%, #004c7c);
  background-image: linear-gradient(#127cb9, #115F8D 50%, #004c7c);*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff127cb9', endColorstr='#ff004c7c', GradientType=0);
  border: 1px solid #125d88;
}

.btn-primary:active, .btn-primary:focus {
  
}

.btn-primary:hover {

  /*background-image: -webkit-linear-gradient(#115F8D, #004c7c 50%, #003557);
  background-image: -o-linear-gradient(#115F8D, #004c7c 50%, #003557);
  background-image: linear-gradient(#115F8D, #004c7c 50%, #003557);*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff115F8D', endColorstr='#ff003557', GradientType=0);
  border: 1px solid #1c4b69;
}

.btn {
    outline: none;
}

.btn-primary { 
  outline-color: #2894d8 !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #125d88;
}

a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #125d88;
}

.btn-primary:focus,
.btn-primary.focus {
  background-color: #125d88;
  border-color: #564415;
}
.btn-primary:hover {
  background-color: #125d88;
  border-color: #23688b;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #125d88;
  border-color: #23688b;
}

.navbar-inverse {
  background-color: #115F8D;
  border-color: #125d88;
}

.navbar-inverse .navbar-toggle {
  border-color: #125d88;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #125d88;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #125d88;
}

.form-control:focus {
  border-color: #489cce;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgb(154, 208, 241);
}

/* System - Octopus_v3 */

textarea, input, select { 
    outline-color: #115F8D; 
}

#mainMenu .companyUser {
    color: #66c4fa;
}

/*#mainMenu .list-group-item a.isSelected {
    background: linear-gradient(to bottom, #2e5b73 0%,#2a3439 78%);
}*/

/*#mainMenu .list-group-item a:hover, #mainMenu .list-group-item a.active {
    background: linear-gradient(to bottom, #115F8D 0%,#003f63 78%);
}*/

#mainMenu .list-group-item a:hover .label, #mainMenu .list-group-item a.active .label {
  /*color: #115F8D;*/
    background: #0b5887;
}

#pushMenu #pushArrow span {
    background: url('../Images/menu/arrow_blue.png') 0 0 no-repeat;
}

/*#pushMenu .list-group-item a:hover, #pushMenu .list-group-item a.active {
    background: linear-gradient(to bottom, #115F8D 0%,#003f63 78%);
}*/
#pushMenu .list-group-item a.isSelected, #pushMenu .list-group-item a:hover {
    border-color: #115f8d;

}


#pushMenu .list-group-item a:hover .label, #pushMenu .list-group-item a.active .label {
  /*color: #115F8D;*/
  background:#0b5887;
}

/*#pushMenu ul.list-level3 .list-group-item a:hover span.glyphicon, #pushMenu ul.list-level3 .list-group-item a.isSelected span.glyphicon {
    color: #115F8D;
}*/

/*#pushMenu .list-group-item a.isSelected {

    background: linear-gradient(to bottom, #2e5b73 0%,#2a3439 78%);
}*/

/*#pushMenu .list-group-item a:hover, #pushMenu .list-group-item a.active {
    color: #fff;
    background: linear-gradient(to bottom, #115F8D 0%,#003f63 78%);
}*/

/*#pushMenu ul.list-level3 .list-group-item a:hover:not(.isSelected) {
    color: #ade1ff;
}*/

#pushMenu ul.list-level3 .list-group-item a.isSelected, #pushMenu ul.list-level3 .list-group-item a:hover {
    border-color:#115f8d;
}

/*#pushMenu ul.list-level3 .list-group-item a.isSelected {
    color: #ade1ff;
}*/

#mainMenu .glyphicon-volume-10 {
    background: url(../Images/menu/icn_10_blue.png) 0 0 no-repeat;
    background-size: contain;
}

#breadCrumbs a {
    color: #ade1ff;
}


#hotButtons ul.nav a:hover {
    background-color: #115F8D;
    border-left-color:#095786;
}

#hotButtons ul.nav a:hover .hot-circle-icn {
    color: #115F8D;
}

#btnBack {
    border-color: #256c99;
}

.v3-box-invert .v3-title {
    border-color: #fff;
}

.v3-title .v3-a:hover {
    color: #115F8D;
}

.v3-form .input-group-addon:hover {
    background-color: #115F8D;
}

.v3-photo-menu a:hover {
    color: #115F8D;
}

.highlight ul.v3-tbl-actions li, .highlight2 ul.v3-tbl-actions li {
    border-color: #115F8D;
}

.highlight ul.v3-tbl-actions li a, .highlight2 ul.v3-tbl-actions li a {
    color: #115F8D;
}

.v3-stats-primary {
    background-color: #115F8D;
}

.v3-stats-primary div {
    border-color: #c2eaff;
}

.queIcon {
    background-color: #115F8D;
}

.orange {
    color: #115F8D !important;
}

.v3-table .table-striped tbody tr.highlight, .v3-table .table-striped td.highlight {
    background-color: #d6ecf8 !important;
}

.v3-table .table-striped tbody tr:not(.no-hover):hover a:hover {
    color: #348fc3 !important;
}

.cac-cams-matrix-modal .modal-body .col:hover {
    background-color: #d6ecf8;
}

.v3-table .table-striped .cac-severity0:hover a:hover {
    color: #348fc3 !important;
}

/*#mainMenu .mainSearch input:focus {
    background-color: #d6ecf8;
}*/

.v3-box-sel {
    background-color: #d6ecf8;
}

/*.v3-form .highlight {
    background-color: #d6ecf8;
}*/

.v3-tabs a:hover {
    color: #66c4fa;
}

.t6, h1.t1, h3.t3 {color: #115f8d;}
.v3-box.new .v3-table a:hover, .v3-box.new .v3-table .table-striped tbody tr:not(.no-hover):hover a:hover {color:#115f8d!important;}
.v3-box.new .v3-table .table-striped tbody tr:not(.no-hover):hover a, .v3-box.new .v3-table .table-striped tbody tr:not(.no-hover):hover a:hover {
    color: #115f8d;
}
#assContainer #assMenu .ass-menu:hover, #assContainer #assMenu .ass-menu.active {background:#115f8d;}
.screenButton:hover {background:#115f8d!important;}



/* Modules */

#vis-step1-label {
    color: #115F8D;
}

a#vis-new-link:hover {
    color: #115F8D;
}

.cac-camera-playback a.active {
    color: #115F8D;
}

.message a.message-actions:hover, .task a.task-actions:hover {
    color: #115F8D;
}

.label-primary {
    background-color: #115F8D;
}

#dash-stats .label-primary {
    color: #fff;
    background-color: #e35722;
}

#dashboard-cams-button .dashboard-cams-orange {
    background-image: linear-gradient(#127cb9, #115F8D 50%, #004c7c);
}

#dashboard-cams-button .dashboard-cams-orange span {
  
}

.incident a:hover {
    color: #2d2d2d;
}

#incident-window .incident-widget-title .widget-max:hover, #incident-window .incident-widget-title .widget-up:hover, #incident-window .incident-widget-title .widget-down:hover {
    color: #115F8D;
}

#incident-window .incident-widget-body ol li::before {
    color: #115F8D;
    border-color: #115F8D;
}

#msg .msg-message.active {
    background-color: #d6ecf8;
    border-bottom-color: #115F8D;
}

#msg .msg-message:not(.selected):hover {
    background-color: #d6ecf8;
}

#msg .msg-message.selected, #msg .msg-message:hover .msg-message-icn, #msg .msg-message.active .msg-message-icn, #msg .msg-message.selected .msg-message-icn, #msg .msg-message:hover .msg-message-chk, #msg .msg-message.active .msg-message-chk, #msg .msg-message.selected .msg-message-chk {
    background-color: #aed7f1;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #115F8D;
  border-color: #115F8D;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #115F8D;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #115F8D;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #115F8D;
}

.ui-pnotify.severity0 .ui-pnotify-container {
    background-color: #d6ecf8;
    border-color: #115F8D;
}

.ui-pnotify.severity0 .pnotify-close, .ui-pnotify.severity0 .pnotify-action {
    color: #115F8D;
}

#mainMenu a:hover {
    color: #fff;
}

#mainMenu .list-group-item a:hover, #mainMenu .list-group-item a.active {
    color: #fff;
    border-color:#115f8d;
}

#pushMenu .list-group-item a:hover, #pushMenu .list-group-item a.active {
    color: #fff;
}

#pushMenu .list-group-item a:hover span.glyphicon, #pushMenu .list-group-item a.active span.glyphicon {
    color: #fff;
}

#hot-new-incident-pop a.hot-new-incident-btn:hover {
    color: #fff;
}

#hot-alarms-pop table tr td a:hover {
    color: #000;
}

#msg-compose-modal .modal-body .msg-compose-result-entry a:hover {
    color: #000;
}

#msg-compose-modal .modal-body .msg-msgMessage a.fancybox:hover {
    color: #2d2d2d;
}

.v3-title-color {
    background-color: #115F8D;
}

.v3-table .table-striped tbody tr.no-hover:hover {
    color: #2d2d2d !important;
}

.v3-tabs li:not(.active) a:hover {
    color: #fff;
}

/*.tooltip-inner {
  border-bottom: 2px solid #115F8D;
}*/

.message .message-txt h4 a:hover {
    color: #115F8D;
}

.bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: #115F8D;
}

.v3-tabs-btns li:not(.active):not(#dash-stats) a:hover, .v3-tabs-btns li:not(.active):not(#dash-stats) a:focus {
    background:#054970;
}

#map_v3 .menu li:first-child:hover, #map_v3 .opened li:first-child {
    border-color: #115F8D;
}

#map_v3 .menu li:first-child:hover a, #map_v3 .opened li:first-child a {
    color: #115F8D;
}

#map_v3 .menu li.selected {
    background: #115F8D;
}

#map_v3 .menu li:not(:first-child):not(.selected):hover {
    border-color: #115F8D;
}

#map_v3 .map_menu .map_menu_header {
    background-color: #115F8D;
}

#map_v3 .labelsMarker {
    border-left: 5px solid #115F8D;
}

#map_v3 .menu li:not(:first-child):not(.selected):hover a {
    color:#115F8D;
}

#mapBodyIframe .popover .popover-title {
    background-color: #115F8D;
}

#pageAllSitesControlSubject .siteAVG {
    background-color: #d6ecf8;
}

#pageAllSitesControlSubject .siteAVG .arrow-left {
	border-right:10px solid #115F8D; 
}

#cac-cams-tree .octTree li span.selected {
    color: #ade1ff;
}


.v3-box.new .v3-title a.v3-txt {
    color: #115F8D;
}

/* OLD Styles */
.ga_btn, .blueButton {
      background:#115f8d!important;
  border-color: #115F8D!important;
  box-shadow:initial!important;
  text-shadow:initial!important;
  color:#fff!important;
}

.ga_btn:hover, .blueButton:hover {
    background:#0c5179!important;
}

#bodyPageDiv .gbtn {border-color: #074b73!important; background: #115f8d!important; background-color: #115f8d!important;}
#bodyPageDiv .gbtn:hover {background:#0b5179!important;}

/* organization hierarchy */
.jOrgChart .left, .jOrgChart .right, .jOrgChart .top, .jOrgChart .node {border-color:#115f8d!important;}
.jOrgChart .down, .jOrgChart .addCat {background-color:#115f8d!important;}
.jOrgChart .node {color:#2c2c2c!important;}
.jOrgChart .node a, .gcsMap .node a {color:#115f8d!important;}
.jOrgChart .addCat a {color:#fff!important;}
.gcsMap .node a.orgX {color: #cd0200!important;}


/* Messages */
.messages-menu ul li.list-group-item:hover, .messages-menu ul li.list-group-item.active {border-color:#115F8D;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {color:#115F8D!important;}

#sop-addedit-scroll #olActions li:before {color:#115F8D; border-color:#115F8D;}
#dashboard-control-button .dashboard-control-orange, #dashboard-control-button2 .dashboard-control-orange2 {background:#115F8D;}
#dashboard-control-button .dashboard-control-orgback {background:#115F8D;}

.line-buffer-Events-Control-Panel, .line-buffer-Events-Not-Acknowledged {
    background-color: #115F8D;
}

.footable-pagination li.active a {
    color: #ffffff !important;
    background-color: #115F8D !important;
    border-color: #115F8D !important;
}

.inbox-datetime {
    color: #115F8D;
}

#map-control.v5 .Node.ExpandLeaf {
    background-image: url(/Images/v5/tree/i_blue.svg);    
    background-repeat: repeat-y;
}

#map-control.v5 .ExpandLeaf.IsLast {    
    background-image: url(/Images/v5/tree/i_half_blue.svg);
    background-repeat: no-repeat;
}