.OSM_Map{
    display: flex;
    padding: 10px;
}
.OSM_Map-container{
    width: 850px;
    height: 900px;
}
.ol-zoom{
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* width: 2%; */

    background-color: aquamarine;
    
}
.custom-mouse-position{
    top: 0;
    text-align: right;
    margin-top: 880px;
    margin-right: 10px;
}
