.setRoute{
    display: flex;
    padding: 50px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}



.setRoute__box-textAndDateInput{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 15px;
}
.setRoute__box-textAndDateInput:last-child{}

/* .setRoute__date{
    height: 20px;
    cursor: pointer;
} */

.setRoute__box-buttonActions{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 35%;
}

.setRoute__box-textAndDateInput button{
    width: 180px;
    max-height: 20px;
    padding: 20px;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

/* .setRoute__box-textAndDateInput input{
    border-radius: 4px;
    border: 1px solid rgb(173, 171, 171);
    background: none;
} */

.setRoute__inputIntervalField 
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

