.editRoute{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editRoute__inputIntervalField 
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.editRoute__Title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0px 0px 2px;
    border-bottom: 1px solid #d5d5d5;
}

.editRoute__Title h3{
    padding-left: 5px;
    font-size: 45px;
}

.editRoute__buttons {
    display: flex;
    flex-direction: row;   
    gap: 15px;
}

.editRoute__buttons button{
    max-width: 180px;
    width: 120px;
    height: 37px;
    font-weight: bold;
    font-family: Arial;
}

.editRoute__table-container{
    /* padding-left: 5px; */
}

.editRoute__table-header{
    font-weight: bold;
    font-size: 1.1vw;
    max-width: 120px;
    text-align: center;
}

.editRoute__table-body{
    font-size: 0.991vw;
    text-align: center;
    /* width: 100px; */
}

.editRoute__NameAndDate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: flex-end; */
    padding: 20px 0px 10px 5px;
}


.editRoute__NameAndDate input{
    height: 20px;
    font-size: 14px;
}

.editRoute__inputBox h3{
    font-family: Arial;
}

.editRoute__NameAndDate input{
    border-radius: 4px;
    /* border: 1px solid rgb(173, 171, 171); */
    /* background: none; */
}

.editRoute_actionCell{
    display: flex;
    justify-content: center;
    gap: 20px;
}