.logWindow{
    /* border: 2px solid #d85728; */
    border-radius: 4px;
    padding: 10px;
    height: 345px;
    overflow-y: scroll;
}

.logWindow__msg{
    padding: 2px 0px;
    font-size: 15px;
}
